<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NZMX5Q5');</script>
    <!-- End Google Tag Manager -->


    <link rel="icon" type="image/png" href="~/assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/icon/192x192.png">
    <link rel="canonical" href="https://voyehomes.com/@ViewData["CanonicalUrl"]" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#09087f">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]" />

    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="@ViewData["Thumbnail"]" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Url.PageLink()" />





    @*theme2021*@
    <!-- CSS -->
    <link type="text/css" href="~/assets/theme2021/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link type="text/css" href="~/assets/theme2021/css/slick.css" rel="stylesheet">
    <link type="text/css" href="~/assets/theme2021/css/animate.min.css" rel="stylesheet">
    <link type="text/css" href="~/assets/theme2021/css/style.css?v=0028" rel="stylesheet">
    <link type="text/css" href="~/assets/theme2021/css/custom.css?v=0003" rel="stylesheet" />
    <!-- JS -->
    <script src="~/assets/theme2021/js/jquery.min.js"></script>
    <script src="~/assets/theme2021/js/bootstrap.min.js"></script>
    <script src="~/assets/theme2021/js/gsap.min.js"></script>
    <script src="~/assets/theme2021/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/theme2021/js/slick.min.js"></script>
    <script src="~/assets/theme2021/js/slick-lightbox.js"></script>
    <script src="~/assets/theme2021/js/functions.js?v=09"></script>
    @*end theme2021*@

    <!-- Date-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="~/assets/js/custom.js?v=038"></script>
    

    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "Organization",
          "name": "Voye Homes",
          "url": "https://voyehomes.com/",
          "logo": "https://voyehomes.com/assets/img/logo.png",
          "contactPoint": {
            "@@type": "ContactPoint",
            "telephone": "+919539690660",
            "contactType": "reservations",
            "areaServed": "IN",
            "availableLanguage": "en"
          },
          "sameAs": [
            "https://www.facebook.com/voyehome",
            "https://www.instagram.com/voye_homes/",
            "https://www.linkedin.com/company/voye-homes/"
          ]
        }
    </script>

</head>



@*theme2021*@

<body class="fade-in">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZMX5Q5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
   
    <div class="pre-loader">
        <div class="sk-fading-circle">
            <img src="~/assets/theme2021/img/voyeBrnad.png" width="50">
            
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-default navbar-me">
            <div class="container-fluid ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand site-logo" href="/"><img src="~/assets/theme2021/img/voyeBrnad.png" width="95"></a>
                    <a class="navbar-brand site-logo-colored" href="/"><img src="~/assets/theme2021/img/voyeBrnadColored.png" width="95"></a>
                    <form class="navbar-form">
                        <input type="text" id="pac-input" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Where are you going?';" placeholder="Where are you going?">
                        <button type="button" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <div class="navbar-right  header-right-menu">
                    <ul class="nav navbar-nav">
                        <li class="page-scroll">
                            <a href="~/#desitnations" id="about-menu">Destinations </a>
                        </li>
                        <li>
                            <a href="~/#holiday-homes" id="services-menu">Holiday Homes</a>
                        </li>
                         <li>
                            <a href="https://blog.voyehomes.com/" target="_blank">Blogs</a>
                        </li>
                        <li>
                            <a href="~/page/partner-with-us" id="Clients-menu">Partner with Us </a>
                        </li>
                    </ul>
                    <div class="whatsap">
                        <a href="@General.GetSettingsValue("whatsapp-link")" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="wrapper">
                        <button id="menu-toggle" data-label="Menu" role="button" class="menu-toggle">
                            <span class="icon-bars"></span>
                        </button>
                    </div>
                </div>

            </div>
        </nav>

    </header>
    @{ var sitePages = General.GetSitePages(); int i = 0; }
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/page/partner-with-us">Partner with Us</a></li>
            <li><a href="/page/gift-card">Gift Card</a></li>
            <li>
               <a href="https://blog.voyehomes.com/" target="_blank">Blogs</a>
            </li>
            @foreach (var sitePage in sitePages)
            {
                <li>
                    <a href="/page/@General.GetUrlSlug(sitePage.title)-@General.EncodeString(sitePage.id.ToString())">  @sitePage.title</a>
                </li>
            }

            <li><a href="tel:@General.GetSettingsValue("business_phone")" class="btn btn-default call">Call us: @General.GetSettingsValue("business_phone")</a></li>
            <li><a href="mailto:reservations@voye.in">reservations@voye.in</a></li>
        </ul>
        <div class="pull-right scl-lnks">
            <span class="social"><a href="@General.GetSettingsValue("facebook-link")" target="_blank" class="fb"><i class="fab fa-facebook-f"></i></a></span>
            <span class="social"><a href="@General.GetSettingsValue("youtube-link")" target="_blank" class="tw"><i class="fab fa-youtube"></i></a></span>
            <span class="social"><a href="@General.GetSettingsValue("linkedin-link")" target="_blank" class="ln"><i class="fab fa-linkedin-in"></i></a></span>
            <span class="social"><a href="@General.GetSettingsValue("instagram-link")" target="_blank" class="inst"><i class="fab fa-instagram"></i></a></span>
        </div>
    </div>

    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="popularDesti">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header">Popular Destinations</div>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li><a href="~/destination/munnar-y">Bungalows in Munnar</a></li>
                                    <li><a href="~/destination/wayanad-u">Bungalows in Wayanad</a></li>
                                    <li><a href="~/destination/nilgris-uk">Bungalows in Nilgris</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li><a href="~/destination/vagamon-k">Cottages in Vagamon</a></li>
                                    <li><a href="~/destination/munnar-y">Cottages in Munnar</a></li>
                                    <li><a href="~/destination/wayanad-u">Cottages in Wayanad</a></li>

                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li><a href="~/destination/vagamon-k">Resorts in Vagamon</a></li>
                                    <li><a href="~/destination/wayanad-u">Resorts in Wayanad</a></li>
                                    <li><a href="~/destination/sholayur-j">Resorts in Sholayur</a></li>

                                </ul>
                            </div>

                            <div class="col-md-3">
                                <ul>
                                    <li><a href="~/destination/munnar-y">Tea estate bungalows in Munnar</a></li>
                                    <li><a href="~/destination/munroe-island-c">Homestay in Munroe Island</a></li>
                                    <li><a href="~/destination/kochi-uh">Homestay in Kochi</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="highlight">Voye Homes, a subsidiary of Voye.in<br>Travel Automations India Private Limited.</div>
                    <div class="itemsRow">
                        <a href="mailto:reservations@voye.in">reservations@voye.in</a>
                        <a href="tel:@General.GetSettingsValue("business_phone")">@General.GetSettingsValue("business_phone")</a>
                        <a href="~/page/contact-us-k" class="find">Contact us</a>
                        <a href="~/page/partner-with-us">Partner with us</a>
                        <a href="~/page/gift-card">Gift Card</a>
                    </div>

                    <div class="quickLinks">


                        @foreach (var sitePage in sitePages)
                        {
                            <a href="/page/@General.GetUrlSlug(sitePage.title)-@General.EncodeString(sitePage.id.ToString())">  @sitePage.title</a>

                        }
                    </div>
                    <div class="copyrights">
                        Copyright © Voye Homes  @DateTime.Today.Year. All Rights Reserved.
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-right scl-lnks">
                        <span class="social"><a href="@General.GetSettingsValue("facebook-link")" target="_blank" class="fb"><i class="fab fa-facebook-f"></i></a></span>
                        <span class="social"><a href="@General.GetSettingsValue("youtube-link")" target="_blank" class="tw"><i class="fab fa-youtube"></i></a></span>
                        <span class="social"><a href="@General.GetSettingsValue("linkedin-link")" target="_blank" class="ln"><i class="fab fa-linkedin-in"></i></a></span>
                        <span class="social"><a href="@General.GetSettingsValue("instagram-link")" target="_blank" class="inst"><i class="fab fa-instagram"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    

    <div class="quickMob fluid">
        <div class="call">
            <a href="tel:@General.GetSettingsValue("business_phone")"><i class="fas fa-phone"></i></a>
        </div>
        <div class="content">
            <div class="row">
                <div class="colm"><a href="~/#desitnations" class="locate"><i class="fas fa-map-pin"></i> Favourite<br>Destinations</a></div>
                <div class="colm"><a href="~/#holiday-homes" class="holi"><i class="fas fa-home"></i> Holiday<br>Homes</a></div>
                <div class="colm"><a href="~/page/partner-with-us" class="partnr"><i class="fas fa-dollar-sign"></i> Partner<br>with us</a></div>
            </div>
        </div>
        <div class="whatsapp">
            <a href="@General.GetSettingsValue("whatsapp-link")" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbhrac6WObWCTiVr9l5G8W683OLHnKuwc&libraries=places&callback=initAutocomplete"></script>


    

    


</body>

@*end theme2021*@



</html>
